@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
body {
  background-color: #16161a !important;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.titulo {
  color: white !important;
  font-family: "Inter" !important;
  font-size: 15px;
  padding-top: 20px;
  position: static;
  padding: 40px;
  text-align: center;
  letter-spacing: 0.0015em;
}

.Html{
    padding: 20px;
    display: flex;
    justify-content: center;
}
.grupo1{
    padding: 20px;
    display: flex;
    justify-content: center;
    margin: 20px;
}
.Js{
    margin-left: 50px;
}
.Ux{
    margin-left: 50px;
}

.pie{
    background-color: rgb(51, 49, 49);
    padding: 15px;
    display: flex;
    justify-content: center;
    margin : 20px;
    width: 100vh;
}

#imgHome{
    margin-right: 70px !important;  
 
}
#imgEstad{
    margin-left: 70px !important; 
    margin-right: 150px !important; 
}


