@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
body {
  background-color: #16161a !important;
  justify-content: right;
  display: flex;
  flex-direction: column;
 align-items: center;
}

.titulo {
  justify-content: right !important;
  color: white !important;
  font-family: "Inter" !important;
  font-size: 15px;
  padding-top: 20px;
  text-align: right;
  letter-spacing: 0.0015em;
}

.Html{
    padding: 20px;
    display: flex;
    justify-content: center;
}

.pie{
 
    background-color: rgb(51, 49, 49);
    padding-top: 15px;
    display: flex;
    justify-content: center;
    margin : 20px;
    width: 100vh;
}

#imgHome{
    margin-right: 70px !important;  
 
}
#imgEstad{
    margin-left: 70px !important; 
    margin-right: 150px !important; 
}


