@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
body {
  background-color: #16161a !important;
  display: flex;
  justify-content: right;
  flex-direction: column;
  align-items: center;
width: 100vh;
}

.titulo {
  justify-content: right !important;
  color: white !important;
  font-family: "Inter" !important;
  font-size: 15px;
  padding-top: 20px;
  text-align: right;
  letter-spacing: 0.0015em;
}

.subtitulo{

    color: white;
    display: flex;
    text-justify: auto;
    justify-content: right !important;
    font-family: "Inter" !important;
    font-size: 25px !important;
}


.pie{
    background-color: rgb(51, 49, 49);
    padding: 15px;
    display: flex;
    justify-content: center;
    margin : 20px;
    width: 100vh;
}

#imgHome{
    margin-right: 70px !important;  
 
}
#imgEstad{
    margin-left: 70px !important; 
    margin-right: 150px !important; 
}

.contenido{
    margin: 18px;
    width: 90%;
}
.respuestas{
    border-radius: 10px;
    border: 1px solid gray;
    margin: 18px;
 ;
}
.icon{
    margin: 13px;
}

h4{
    color: honeydew;
    font-family: "Inter" !important;
    font-size: 20px !important;
}

.respCambiante{
                                                                         
    margin-left:200px;
}

#correc{
    color: green;
    font-size: 25px ;
    margin-left: 225px ;
}

#incorrec{
    color: red;
    font-size: 25px;
    margin-left: 220px ;
}